span.collapseomatic {
	background-image:url(images/collapse-arrows.png) !important;
	background-repeat:no-repeat;
	padding: 0 0 10px 16px;
	cursor: pointer;
}
span.close {
	background-position: 0 -33px !important;
}
.collapseomatic_content {
	display: none;
	margin-top: 3px;
	margin-left: 16px;
}
